<html lang="en">
<head>
    <link rel="icon" href="../img/pics3.png">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document | {{title1}} </title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class='portrait' src="/img/IMG_5261.jpg" alt="">
        <div>
            <p>{{name}}</p>
            {{!-- <h3>{{age}}</h3> --}}
        </div>
    </div>
    
    {{>footer}}
</body>
</html>